.pokemonList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  margin-right: 30px;
  height: 493px;
  overflow-y: scroll;
  scroll-behavior: smooth; }

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto; }

.cardLink {
  text-decoration: none; }
