*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #FFE62C;
}

.pikachuParts {
    display: flex;
    justify-content: space-between;
}

.blackTriangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: black transparent transparent transparent;
    background-position: left top;
}

.blackTriangle2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent black transparent transparent;
}



.redCircle1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent red transparent transparent;
    border-radius: 0 100px 0 0;
    position:absolute; /*El div ser치 ubicado con relaci칩n a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/

}

.redCircle2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: red transparent transparent transparent;
    border-radius: 100px 0 0 0;
    position:absolute; /*El div ser치 ubicado con relaci칩n a la pantalla*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
}